# iBioLogy files #
############

.htaccess
.idea
delete*
custom/
googlee1401ea114578e70.html
googleplus.html
ibioeducation-transcripts/
ibiomagazine-transcripts/
ibioseminars-transcripts/
ibioseminars/
images2/
index.htm
short_clips/
*.zip
speakers/
test-rewrite.php
_notes/

	
# wpengine #
############
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# wordpress core specific
index.php
license.txt
readme.html
apple-touch-icon-precomposed.png
apple-touch-icon.png
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-orig.php
wp-config-sample.php

wp-admin/*
wp-includes/*
wp-content/uploads/*
wp-content/blogs.dir/*
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/mu-plugins/*
wp-content/plugins/advanced-cache.php
wp-content/debug.log
wp-content/db.php

wp-content/ewww/
wp-content/mysql.sql

wp-content/plugins/aweber-wp/

wp-content/plugins/force-regenerate-thumbnails/
wp-content/plugins/codepress-admin-columns/
wp-content/plugins/advanced-custom-fields-pro/
wp-content/plugins/acf-theme-code-pro/
wp-content/plugins/addthis/
wp-content/plugins/akismet/
wp-content/plugins/autoptimize/
wp-content/plugins/breadcrumb-navxt/
wp-content/plugins/cptui-extended/
wp-content/plugins/custom-post-type-ui/
wp-content/plugins/display-posts-shortcode/
wp-content/plugins/facetwp/
wp-content/plugins/footable/
wp-content/plugins/featured-videos-for-genesis/
wp-content/plugins/genesis-404-page/
wp-content/plugins/genesis-accessible/
wp-content/plugins/genesis-enews-extended/
wp-content/plugins/genesis-featured-page-advanced/
wp-content/plugins/genesis-responsive-slider/
wp-content/plugins/genesis-simple-edits/
wp-content/plugins/genesis-title-toggle/
wp-content/plugins/gravity-forms-image-in-html/
wp-content/plugins/gravityforms/
wp-content/plugins/gravityformsaweber/
wp-content/plugins/gravityformspaypal/
wp-content/plugins/html-on-pages/
wp-content/plugins/hyperdb-1-1/
wp-content/plugins/hyperdb/
wp-content/plugins/old_s2member-pro/
wp-content/plugins/page-links-to/
wp-content/plugins/piklist/
wp-content/plugins/post-type-switcher/
wp-content/plugins/Post-Parents-master/
wp-content/plugins/posts-to-posts/
wp-content/plugins/query-monitor/
wp-content/plugins/rewrite-rules-inspector/
wp-content/plugins/searchwp/
wp-content/plugins/real-time-find-and-replace/
wp-content/plugins/relevanssi-premium-ibiology-widgets/
wp-content/plugins/relevanssi-premium/
wp-content/plugins/s2member-files/
wp-content/plugins/s2member-pro/
wp-content/plugins/s2member/
wp-content/plugins/sendgrid-email-delivery-simplified/
wp-content/plugins/shortcodes-ultimate/
wp-content/plugins/sidebar-login/
wp-content/plugins/simple-custom-css/
wp-content/plugins/simple-social-icons/
wp-content/plugins/tinymce-advanced/
wp-content/plugins/widget-context/
wp-content/plugins/wordpress-importer/
wp-content/plugins/wp-all-export-pro/
wp-content/plugins/wp-all-import-pro/
wp-content/plugins/wpai-acf-add-on/
wp-content/plugins/wordpress-seo/
wp-content/plugins/wp-recaptcha/
wp-content/plugins/wp-show-ids/
wp-content/plugins/wp-smushit/
wp-content/plugins/wp-pagenavi/
wp-content/plugins/wp-sweep/
wp-content/plugins/hello.php
wp-content/plugins/404page/
wp-content/plugins/add-to-any/
wp-content/plugins/admin-columns-pro/
wp-content/plugins/cac-addon-acf/
wp-content/plugins/cookie-notice/
wp-content/plugins/facetwp-hierarchy-select/
wp-content/plugins/members/
wp-content/plugins/regenerate-thumbnails/
wp-content/plugins/taxonomy-terms-order/
wp-content/plugins/velvet-blues-update-urls/
wp-content/plugins/wpsite-show-ids/



wp-content/themes/twentyfifteen/
wp-content/themes/twentyseventeen/
wp-content/themes/twentysixteen/
wp-content/*.sql
wp-content/themes/genesis/
wp-content/themes/genesis-sample/
wp-content/themes/landscape/

wp-content/plugins/atomic-blocks/
wp-content/plugins/download-monitor/
wp-content/plugins/loginpress/
wp-content/plugins/powerpress/
wp-content/plugins/rcp-aweber-pro/
wp-content/plugins/rcp-custom-redirects/
wp-content/plugins/restrict-content-pro-download-monitor/
wp-content/plugins/restrict-content-pro/
wp-content/plugins/ultimate-addons-for-gutenberg/
wp-content/themes/twentytwenty/